.home-grid-movies-container {
    width: 76%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.home-filter-movies-container {
    width: 24%;
    /* background-color: yellow; */
    display: flex;
    margin: 16px;
}

.home-movies-main-container {
    display: flex;
}
